@inject AppWebSpa.Services.IUsersService _usersService

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Home" ? "":"collapsed")"
               asp-controller="Home"
               asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li>

        @if (await _usersService.CurrentUserIsAuthorizedAsync("showCategories", "Categorias"))
        {

            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Categories" ? "":"collapsed")"
               asp-controller="Categories"
               asp-action="Index">
                <i class="bi bi-flower3"></i>
                <span>Categorias</span>
                </a>
            </li>
        }
        
        @if (await _usersService.CurrentUserIsAuthorizedAsync("showSpaServices", "Servicios"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="SpaServices" ? "":"collapsed")"
                   asp-controller="SpaServices"
                   asp-action="Index">
                    <i class="bi bi-flower3"></i>
                    <span>Servicios</span>
                </a>
            </li>
        }
        @if (await _usersService.CurrentUserIsAuthorizedAsync("showUsers", "Usuarios"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Users" ? "":"collapsed")"
                   asp-controller="Users"
                   asp-action="Index">
                    <i class="bi bi-people"></i>
                    <span>Usuarios</span>
                </a>
            </li>
        }


        @if (await _usersService.CurrentUserIsAuthorizedAsync("showRoles", "Roles"))
        {

            <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Roles" ? "":"collapsed")"
                   asp-controller="Roles"
                   asp-action="Index">
                    <i class="bi bi-people"></i>
                    <span>Roles</span>
                </a>
            </li>
        }

    </ul>

</aside><!-- End Sidebar-->

