@model CategoryDTO

@{
    ViewData["Title"] = "Categoria";
    
}



<div class="pagetitle">
    <h1>Inicio</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index">Inicio</a></li>
            <li class="breadcrumb-item active">Categoria</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">

    <div class="row">

        <h1>@Model.Name</h1>

        <form class="" asp-action="Dashboard" method="GET">
            <input type="hidden" name="Page" value="@Model.PaginatedServices.CurrentPage" />
            <input type="hidden" name="RecordsPerPage" value="@Model.PaginatedServices.RecordsPerPage" />

            <div class="input-group mb-3">

                <input type="text" class="form-control border-0 small" placeholder="Buscar.." aria-label="Search" asp-for="@Model.PaginatedServices.Filter" name="Filter">

                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>

        </form>
        <div class="row">
            @foreach (var item in Model.PaginatedServices.List)
            {
                <div class="col-md-5 m-2">
                    <a asp-action="SpaService" asp-route-id="@item.IdSpaService" class="btn btn-outline-success form-control">@item.Name</a>
                </div>
            }
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                @*Primero*@
                <li class="page-item">
                    <a class="page-link @(Model.PaginatedServices.CurrentPage == 1 ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Page="1"
                       asp-route-Filter="@Model.PaginatedServices.Filter"
                       asp-route-RecordsPerPage="@Model.PaginatedServices.RecordsPerPage">
                        &laquo;
                    </a>
                </li>

                @*Anterior*@
                <li class="page-item">
                    <a class="page-link @(!Model.PaginatedServices.HasPrevious ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Filter="@Model.PaginatedServices.Filter"
                       asp-route-Page="@(Model.PaginatedServices.CurrentPage - 1)"
                       asp-route-RecordsPerPage="@Model.PaginatedServices.RecordsPerPage">
                        &lsaquo;
                    </a>
                </li>

                @*Paginas*@
                @foreach (int page in Model.PaginatedServices.Pages)
                {

                    <li class="page-item">
                        <a class="page-link @(Model.PaginatedServices.CurrentPage == page ? "active" : "" )"
                           asp-action="Index"
                           asp-route-Filter="@Model.PaginatedServices.Filter"
                           asp-route-Page="@(page)"
                           asp-route-RecordsPerPage="@Model.PaginatedServices.RecordsPerPage">
                            @(page)
                        </a>
                    </li>
                }

                @*Siguiente*@
                <li class="page-item">
                    <a class="page-link @(!Model.PaginatedServices.HasNext ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Filter="@Model.PaginatedServices.Filter"
                       asp-route-Page="@(Model.PaginatedServices.CurrentPage + 1)"
                       asp-route-RecordsPerPage="@Model.PaginatedServices.RecordsPerPage">
                        &rsaquo;
                    </a>
                </li>

                @*Último*@
                <li class="page-item">
                    <a class="page-link @(Model.PaginatedServices.TotalPages == Model.PaginatedServices.CurrentPage ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Filter="@Model.PaginatedServices.Filter"
                       asp-route-Page="@Model.PaginatedServices.TotalPages"
                       asp-route-RecordsPerPage="@Model.PaginatedServices.RecordsPerPage">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</section>