﻿@{
    ViewData["Title"] = "Home Page";
}

<div>

    <h2>Listado de categorias</h2>
</div>





@* @model PaginationResponse<Category>

@{
    ViewData["Title"] = "Inicio";
}

<div class="section dashboard">

    <form asp-action="Dashboard" method="GET">

        <input type="hidden" name="Page" value="@Model.CurrentPage" />
        <input type="hidden" name="RecordsPerPage" value="@Model.RecordsPerPage" />

        <div class="input-group mb-3">

            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar...." aria-label="serch" asp-form="@Model.Filter" name="Filter" />

            <div class="input-group-append">
                <button class="btn btn-primary" type="Submit">
                    <i class="bi bi-search"></i>
                </button>

            </div>

        </div>

    </form>
    <div class="row">
        @foreach( var item in Model.List)
        {
            <div class="col-md-5 m-2">
                <a asp-action="Category" asp-route-id="@item.CategoryId" class="btn btn-outlined-primary form-control">@item.Name</a>
            </div>
        }
    </div>

    <nav aria-label="">
        <ul class="pagination justify-content-center">

            <li class="Page-item">
                <a class="page-link  @(Model.CurrentPage==1 ? "disabled" : "")"
                   asp-action="Index"
                   asp-route-page="1"
                   asp-route-Filter="@Model.Filter"
                   asp-route-RecordsPerPage="@Model.RecordsPerPage">
                    &laquo;

                </a>

            </li>

            <li class="Page-item">
                <a class="page-link  @(!Model.HasPrevious ? "disabled" : "")"
                   asp-action="Index"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-Filter="@Model.Filter"
                   asp-route-RecordsPerPage="@Model.RecordsPerPage">
                    &lsaquo;

                </a>

            </li>

            @foreach (int page in Model.Pages)
            {
                <li class="Page-item">
                    <a class="page-link  @(Model.CurrentPage == page ? "disabled" : "")"
                       asp-action="Index"
                       asp-route-page="@(page)"
                       asp-route-Filter="@Model.Filter"
                       asp-route-RecordsPerPage="@Model.RecordsPerPage">
                        @(page)

                    </a>

                </li>
            }



            <li class="Page-item">
                <a class="page-link  @(!Model.HasNext ? "disabled" : "")"
                   asp-action="Index"
                   asp-route-page="@(Model.CurrentPage + 1)"
                   asp-route-Filter="@Model.Filter"
                   asp-route-RecordsPerPage="@Model.RecordsPerPage">
                    &rsaquo;

                </a>

            </li>

            <li class="Page-item">
                <a class="page-link  @(Model.TotalPages==Model.CurrentPage ? "disabled" : "")"
                   asp-action="Index"
                   asp-route-page="@(Model.TotalPages)"
                   asp-route-Filter="@Model.Filter"
                   asp-route-RecordsPerPage="@Model.RecordsPerPage">
                    &raquo;

                </a>

            </li>

        </ul>
    </nav>
</div> *@